extends layout

block content
	p Hi!
	p This is the about page
	p.
		Code for Boston is a group of designers, devlopers, and
		civic-minded citizens working to better Boston through
		technology. We are a Code for America brigade.