extends layout

block content
	p Hi!
	p.
		There will be more here soon. Until then, please check out our
		Meetup and GitHub pages, and come to one of our local events!

	.github-widget(data-repo="codeforboston/brigade_website")

block scripts
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="/assets/js/jquery.githubRepoWidget.js")
