!!!
head
	meta(name='viewport', content='width=device-width, user-scalable=no')
	title Code for Boston
	link(rel='stylesheet', href='/assets/css/style.css')
body
	header#header
		hgroup(role='banner')
			h1#site-title Code/for/Boston
		nav(role='navigation')
			ul#nav
				li
					a(href='/') Home
				li
					a(href='/about') About
				li
					a(href='/projects') Projects
				li
					a(href='/press') Press
				li
					a(href='/contact') Contact
				li
					a(href='/members') Members
				li
					a(href='http://www.meetup.com/Code-for-Boston/') Meetup
				li
					a(href='https://github.com/codeforboston') GitHub
				if session.email
					li
						a(href='#')#login.hidden Login
					li
						a(href='#')#logout Logout #{session.email}
				else
					li
						a(href='#')#login Login
					li
						a(href='#')#logout.hidden Logout

	section#modules(role='complementary')
		aside.module(role='complementary')
			strong Latest commit
		aside.module(role='complementary')
			em Latest project

	article#content(role='main')
		block content

	footer#footer(role='contentinfo')
		em(title='YOU are Awesome, just for visiting this site!').
			Powered by Awesome

	script(src='https://login.persona.org/include.js')
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="/assets/js/jquery.githubRepoWidget.js")

	script(src='/assets/js/persona.js')
